<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PermissionFlow</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">PermissionFlow</a>

        <div>
            <a class="btn btn-outline-light btn-sm" href="/request">Request Access</a>
            <a class="btn btn-outline-light btn-sm" href="/my_requests">My Requests</a>
            <a class="btn btn-outline-light btn-sm" href="/owner">Owner Dashboard</a>
        </div>
    </div>
</nav>

<div class="container mt-4">

{% block content %}
{% endblock %}

</div>

</body>
<hr>

<div class="text-center text-muted mb-3">

PermissionFlow © 2026 |

Developed by:

Gonçalo Matos,
Alexandra Torres,
João Chaves

</div>

</html>