{% extends "base.html" %}

{% block content %}

<h1>PermissionFlow</h1>

<p class="lead">
Internal Access Management System
</p>

<hr>

{% if success %}

<div class="alert alert-success">

Request submitted successfully!

</div>

{% endif %}

<h3>Available Applications</h3>

<div class="row">

{% for application in applications %}

<div class="col-md-4 mb-3">

<div class="card shadow-sm h-100">
    
<div class="card-body">

<h5>{{ application.name }}</h5>

<p>{{ application.description }}</p>

<p>

<b>Owner:</b>

{{ application.owner.name }}

</p>

</div>

</div>

</div>

{% endfor %}

</div>

{% endblock %}