{% extends "base.html" %}

{% block content %}

<h1>My Requests</h1>

<table class="table table-striped">

<thead>

<tr>

<th>Application</th>

<th>Status</th>

<th>Profile</th>

<th>Date</th>

<th>Comment</th>

</tr>

</thead>

<tbody>

{% for request in requests %}

<tr>

<td>{{ request.application.name }}</td>

<td>{{ request.status }}</td>

<td>{{ request.access_profile }}</td>

<td>{{ request.desired_date }}</td>

<td>{{ request.owner_comment }}</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}