<!DOCTYPE html>
<html>

<head>
    <title>Request Access</title>
</head>

<body>

<h1>Request Access</h1>

<form>

<label>Application</label>

<br>

<select>

<option>GitHub Enterprise</option>

<option>Jira</option>

<option>SAP</option>

</select>

<br><br>

<label>Access Profile</label>

<br>

<input type="text">

<br><br>

<label>Justification</label>

<br>

<textarea rows="5" cols="40"></textarea>

<br><br>

<label>Desired Date</label>

<br>

<input type="date">

<br><br>

<button type="submit">
Submit Request
</button>

</form>

</body>

</html>